<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${'Design Page'}"></title>

    <link th:href="@{/css/courseStructurePageStyle.css}" rel="stylesheet">
    <script th:src="@{/js/courseStructurePageJs.js}"></script>

</head>

<body>
<div class=""
     id="main">

    <form class=""
          id="courseStructureDesignForm"
          action="#"
          method="post">

        <table class=""
               id="courseContentTable"
               border="1">

            <thead></thead>
            <tbody>
            <tr th:each="contentBundle, rowId : ${courseStructure.contentBundleList}">

                <td>
                    <div class=""
                         th:id="'contentRow_' + ${rowId.index}">

                        <div class=""
                             th:id="'contentSelectorDiv_' + ${rowId.index}">

                            <select class=""
                                    th:id="'contentSelector_' + ${rowId.index}"
                                    th:onchange="'changeContentType(' + ${rowId.index} + ')'"
                                    th:value="${contentBundle.selected}">

                                <option value="0">Text Area</option>
                                <option value="1">Table</option>
                            </select>
                        </div>

                        <div class=""
                             th:id="'textArea_' + ${rowId.index}">

                            <div class=""
                                 th:id="'textArea_' + ${rowId.index} + '_field1'">

                                <input class=""
                                       type="text"
                                       th:id="'textArea_' + ${rowId.index} + '_field1Name'"
                                       th:value="${contentBundle.textArea.title}"/>
                            </div>

                            <div class=""
                                 th:id="'textArea_' + ${rowId.index} + '_field2Preview'">
                                <h3>Text Input Here...</h3>
                            </div>
                        </div>

                        <div class=""
                             th:id="'table_' + ${rowId.index}"
                             style="display: none">

                            <div class=""
                                 th:id="'table_' + ${rowId.index} + '_field1'">

                                <input class=""
                                       type="text"
                                       th:id="'table_' + ${rowId.index} + '_field1Name'"
                                       th:value="${contentBundle.table.title}"/>
                            </div>
                        </div>

                        <div class=""
                             th:id="'deleteContentRowDiv_' + ${rowId.index}">

                            <a type="button"
                               th:href="@{'/cs/deleteRow/' + ${rowId.index}}">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <div class=""
                         id="addContentRowDiv">

                        <a type="button"
                           th:href="@{/cs/addRow}">Add + </a>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>
</body>
</html>